<a href="https://colab.research.google.com/github/choi-day/Python-Library-Cookbook/blob/main/pylib_006ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

044

In [ ]:
import pickle

In [ ]:
data = {}

data[1] = {'no': 1, 'subject': '안녕 피클?', 'content' : '피클 정말 쉽네?'}

with open('data.p', 'wb') as f:
    pickle.dump(data, f)

In [ ]:
!cat data.p

��N       }�K}�(�no�K�subject��안녕 피클?��content��피클 정말 쉽네?�us.

In [ ]:
with open('data.p', 'rb') as f:
    load_data = pickle.load(f)

load_data

{1: {'no': 1, 'subject': '안녕 피클?', 'content': '피클 정말 쉽네?'}}

In [ ]:
import pickle

def get_all_data():
    try:
        with open('data.p', 'rb') as f:
            return pickle.load(f)
    except FileNotFoundError:
        return{}

def add_data(no, subject, content):
    data = get_all_data()
    assert no not in data
    data[no] = {'no': no, 'subject': subject, 'content': content}
    with open('data.p', 'wb') as f:
        pickle.dump(data, f)

def get_data(no):
    load_data = get_all_data()
    return load_data[no]

add_data(1, '안녕 피클', '피클은 단순하다.')
data = get_data(1)
print(data['no'])
print(data['subject'])
print(data['content'])

1
안녕 피클
피클은 단순하다.

In [ ]:
add_data(2, '잘 자 피클', '피클은 멋있어')

In [ ]:
data = get_data(2)
print(data['no'])
print(data['subject'])
print(data['content'])

2
잘 자 피클
피클은 멋있어

In [ ]:
get_all_data()

{1: {'no': 1, 'subject': '안녕 피클', 'content': '피클은 단순하다.'},
 2: {'no': 2, 'subject': '잘 자 피클', 'content': '피클은 멋있어'}}

045

In [ ]:
class Student:
    def __init__(self, name, age):
        self.name = name
        self.age = age

In [ ]:
import pickle

a = Student('최다연', 22)

with open('student.p', 'wb') as f:
    pickle.dump(a, f)

with open('student.p', 'rb') as f:
    student = pickle.load(f)

print(student)

<__main__.Student object at 0x7f5ff70bb4c0>

In [ ]:
student.name

'최다연'

In [ ]:
#code write

import pickle
import copyreg


class Student:
    def __init__(self, name, age):
        self.name = name
        self.age = age


def pickle_student(student):
    kwargs = student.__dict__
    return unpickle_student, (kwargs, )


def unpickle_student(kwargs):
    return Student(**kwargs)

copyreg.pickle(Student, pickle_student)

a = Student('최다연', 22)

with open('student.p', 'wb') as f:
    pickle.dump(a, f)

In [ ]:
#code load

import pickle
import copyreg


class Student:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        self.dummy = 'dummy'
        self.dip = 'IT'


def pickle_student(student):
    kwargs = student.__dict__
    return unpickle_student, (kwargs, )


def unpickle_student(kwargs):
    return Student(**kwargs)

copyreg.pickle(Student, pickle_student)

with open('student.p', 'rb') as f:
    student = pickle.load(f)

print(student.__dict__)

{'name': '최다연', 'age': 22, 'dummy': 'dummy', 'dip': 'IT'}

046

In [ ]:
import shelve

def save(key, value):
    with shelve.open('shelve.data') as d:
        d[key] = value

def get(key):
    with shelve.open('shelve.data') as d:
        return d[key]

In [ ]:
save('numbers', [1, 2, 3, 4, 5])

In [ ]:
get('numbers')

[1, 2, 3, 4, 5]

In [ ]:
save('numbers', [1, 2, 3])

In [ ]:
get('numbers')

[1, 2, 3]

047

In [ ]:
import sqlite3
conn = sqlite3.connect('blog.db')

In [ ]:
c = conn.cursor()
c.execute('''CREATE TABLE blog (id integer PRIMARY KEY, subject text, content text, date text)''')

In [ ]:
c.execute("INSERT INTO blog VALUES (1, '첫 번째 포스트', '첫 번째 포스트입니다.', '20230418')")

In [ ]:
c.execute("INSERT INTO blog VALUES (2, '첫 번째 포스트', '첫 번째 포스트입니다.', '20230418')")

In [ ]:
_id = 3
subject = '세 번째 포스트'
content = '세 번째 포스트입니다'
date = '20230418'

c.execute("INSERT INTO blog VALUES (%d, '%s', '%s', '%s')" %(_id, subject, content, date))

In [ ]:
_id = 4
subject = '네 번째 포스트'
content = '네 번째 포스트입니다'
date = '20230418'

c.execute("INSERT INTO blog VALUES (?, ?, ?, ?)", (_id, subject, content, date))

In [ ]:
_id = 5
subject = '다섯 번째 포스트'
content = '다섯 번째 포스트입니다'
date = '20230418'

c.execute("INSERT INTO blog VALUES (:id, :subject, :content, :date)",
          {'id': _id, 'subject': subject, 'content': content, 'date': date})

In [ ]:
c.execute('SELECT * FROM blog')
all = c.fetchall()
print(all)

[(1, '첫 번째 포스트', '첫 번째 포스트입니다.', '20230418'), (2, '첫 번째 포스트', '첫 번째 포스트입니다.', '20230418'), (3, '세 번째 포스트', '세 번째 포스트입니다', '20230418'), (4, '네 번째 포스트', '네 번째 포스트입니다', '20230418'), (5, '다섯 번째 포스트', '다섯 번째 포스트입니다', '20230418')]

In [ ]:
c.execute('SELECT * FROM blog')
all = c.fetchall()

for data in all:
    print(data)

(1, '첫 번째 포스트', '첫 번째 포스트입니다.', '20230418')
(2, '첫 번째 포스트', '첫 번째 포스트입니다.', '20230418')
(3, '세 번째 포스트', '세 번째 포스트입니다', '20230418')
(4, '네 번째 포스트', '네 번째 포스트입니다', '20230418')
(5, '다섯 번째 포스트', '다섯 번째 포스트입니다', '20230418')

In [ ]:
c.execute('SELECT * FROM blog')
one = c.fetchone()

In [ ]:
print(one)

(1, '첫 번째 포스트', '첫 번째 포스트입니다.', '20230418')

In [ ]:
c.execute("UPDATE blog SET subject='최초의 블로그' WHERE id=1")

In [ ]:
c.execute('SELECT * FROM blog')
one = c.fetchone()
print(one)

(1, '최초의 블로그', '첫 번째 포스트입니다.', '20230418')

In [ ]:
c.execute('DELETE FROM blog WHERE id=5')

In [ ]:
c.execute('SELECT * FROM blog')
all = c.fetchall()

for data in all:
    print(data)

(1, '최초의 블로그', '첫 번째 포스트입니다.', '20230418')
(2, '첫 번째 포스트', '첫 번째 포스트입니다.', '20230418')
(3, '세 번째 포스트', '세 번째 포스트입니다', '20230418')
(4, '네 번째 포스트', '네 번째 포스트입니다', '20230418')

In [ ]:
conn.commit()

In [ ]:
conn.rollback()

In [ ]:
conn.close()

In [ ]:
conn = sqlite3.connect('blog.db')

c = conn.cursor()
c.execute("INSERT INTO blog (subject, content, date) VALUES ('자동증가', 'id 값이 자동 증가되어 입력됩니다', '20230418')")

In [ ]:
conn.commit()
conn.close()

In [ ]:
import sqlite3
import time

def get_blog_list():
    conn = sqlite3.connect('blog.db')
    conn.row_factory = sqlite3.Row
    c = conn.cursor()
    c.execute("SELECT * FROM blog")
    result = c.fetchall()
    conn.close()
    return result

def add_blog (subject, content):
    conn = sqlite3.connect('blog.db')
    conn.row_factory = sqlite3.Row
    c = conn.cursor()
    today = time.strftime('%Y%m%d')
    c.execute("INSERT INTO blog (subject, content, date) VALUES (?, ?, ?)", 
        (subject, content, today))
    conn.commit()
    conn.close()

def read_blog (_id):
    conn = sqlite3.connect('blog.db')
    conn.row_factory = sqlite3.Row
    c = conn.cursor()
    c.execute("SELECT * FROM blog WHERE id=?", (_id,))
    result = c.fetchone()
    conn.close()
    return result

def modify_blog(_id, subject, content):
    conn = sqlite3.connect('blog.db')
    conn.row_factory = sqlite3.Row
    c = conn.cursor()
    c.execute("UPDATE blog SET subject=?, content=? WHERE id=?", 
        (subject, content, _id))
    conn.commit()
    conn.close()

def remove_blog(_id):
    conn = sqlite3.connect('blog.db')
    conn.row_factory = sqlite3.Row
    c = conn.cursor()
    c.execute("DELETE FROM blog WHERE id=?", (_id,))
    conn.commit()
    conn.close()

In [ ]:
get_blog_list()

[<sqlite3.Row at 0x7f5fe9d99690>,
 <sqlite3.Row at 0x7f5fe9970650>,
 <sqlite3.Row at 0x7f5fe99700b0>,
 <sqlite3.Row at 0x7f5fe9970d70>,
 <sqlite3.Row at 0x7f5fe9970170>]

In [ ]:
dict(get_blog_list()[0])

{'id': 1, 'subject': '최초의 블로그', 'content': '첫 번째 포스트입니다.', 'date': '20230418'}

In [ ]:
for blog in get_blog_list():
    print(dict(blog))

{'id': 1, 'subject': '최초의 블로그', 'content': '첫 번째 포스트입니다.', 'date': '20230418'}
{'id': 2, 'subject': '첫 번째 포스트', 'content': '첫 번째 포스트입니다.', 'date': '20230418'}
{'id': 3, 'subject': '세 번째 포스트', 'content': '세 번째 포스트입니다', 'date': '20230418'}
{'id': 4, 'subject': '네 번째 포스트', 'content': '네 번째 포스트입니다', 'date': '20230418'}
{'id': 5, 'subject': '자동증가', 'content': 'id 값이 자동 증가되어 입력됩니다', 'date': '20230418'}

In [ ]:
read_blog(5)

In [ ]:
modify_blog(4, '어제의 일기', '재밌었다')

In [ ]:
for blog in get_blog_list():
    print(dict(blog))

{'id': 1, 'subject': '최초의 블로그', 'content': '첫 번째 포스트입니다.', 'date': '20230418'}
{'id': 2, 'subject': '첫 번째 포스트', 'content': '첫 번째 포스트입니다.', 'date': '20230418'}
{'id': 3, 'subject': '세 번째 포스트', 'content': '세 번째 포스트입니다', 'date': '20230418'}
{'id': 4, 'subject': '어제의 일기', 'content': '재밌었다', 'date': '20230418'}
{'id': 5, 'subject': '자동증가', 'content': 'id 값이 자동 증가되어 입력됩니다', 'date': '20230418'}

In [ ]:
remove_blog(5)

In [ ]:
for blog in get_blog_list():
    print(dict(blog))

{'id': 1, 'subject': '최초의 블로그', 'content': '첫 번째 포스트입니다.', 'date': '20230418'}
{'id': 2, 'subject': '첫 번째 포스트', 'content': '첫 번째 포스트입니다.', 'date': '20230418'}
{'id': 3, 'subject': '세 번째 포스트', 'content': '세 번째 포스트입니다', 'date': '20230418'}
{'id': 4, 'subject': '어제의 일기', 'content': '재밌었다', 'date': '20230418'}

In [ ]:
import sqlite3
import time

def with_cursor(original_func):
    def wrapper(*args, **kwargs):
        conn = sqlite3.connect('blog.db')
        conn.row_factory = sqlite3.Row
        c = conn.cursor()
        result = original_func(c, **args, **kwargs)
        conn.commit()
        conn.close()
    return wrapper

@with_cursor
def get_blog_list():
    c.execute("SELECT * FROM blog")
    return c.fetchall()

@with_cursor
def add_blog (subject, content):
    today = time.strftime('%Y%m%d')
    c.execute("INSERT INTO blog (subject, content, date) VALUES (?, ?, ?)", 
        (subject, content, today))
    
@with_cursor   
def read_blog (_id):
    c.execute("SELECT * FROM blog WHERE id=?", (_id,))
    result = c.fetchone()
    return result

@with_cursor
def modify_blog(_id, subject, content):
    c.execute("UPDATE blog SET subject=?, content=? WHERE id=?", 
        (subject, content, _id))

@with_cursor
def remove_blog(_id):
    c.execute("DELETE FROM blog WHERE id=?", (_id,))

048

In [ ]:
import zlib


data = "Life is too short, You need python." * 10000
compress_data = zlib.compress(data.encode(encoding='utf-8'))
print(len(compress_data))

org_data = zlib.decompress(compress_data).decode('utf-8')
print(len(org_data))

1077
350000

049

In [ ]:
import gzip

data = "Life is too short, you need python." * 10000

with gzip.open('data.txt.gz', 'wb') as f:
    f.write(data.encode('utf-8')) 

with gzip.open('data.txt.gz', 'rb') as f:
    read_data = f.read().decode('utf-8')

assert data == read_data

050

In [ ]:
import bz2

data = "Life is too short, You need python." * 10000
compress_data = bz2.compress(data.encode(encoding='utf-8'))
print(len(compress_data))

org_data = bz2.decompress(compress_data).decode('utf-8')
print(len(org_data))

assert data == org_data

163
350000

In [ ]:
import bz2

data = "Life is too short, you need python." * 10000

with bz2.open('data.txt.bz2', 'wb') as f:
    f.write(data.encode('utf-8'))

with bz2.open('data.txt.bz2', 'rb') as f:
    read_data = f.read().decode('utf-8')

assert data == read_data

051

In [ ]:
import lzma

data = "Life is too short, You need python." * 10000
compress_data = lzma.compress(data.encode(encoding='utf-8'))
print(len(compress_data))

org_data = lzma.decompress(compress_data).decode('utf-8')
print(len(org_data))

assert data == org_data

220
350000

In [ ]:
import lzma

data = "Life is too short, you need python." * 10000

with lzma.open('data.txt.xz', 'wb') as f:
    f.write(data.encode('utf-8'))

with lzma.open('data.txt.xz', 'rb') as f:
    read_data = f.read().decode('utf-8')

assert data == read_data

052

In [ ]:
! echo > a.txt
! echo > b.txt
! echo > c.txt

In [ ]:
import zipfile

with zipfile.ZipFile('mytext.zip', 'w') as myzip:
    myzip.write('a.txt')
    myzip.write('b.txt')
    myzip.write('c.txt')

with zipfile.ZipFile('mytext.zip') as myzip:
    myzip.extractall()
    
with zipfile.ZipFile('mytext.zip') as myzip:
    myzip.extract('a.txt')

053

In [ ]:
import tarfile

with tarfile.open('mytext.tar', 'w') as mytar:
    mytar.add('a.txt')
    mytar.add('b.txt')
    mytar.add('c.txt')

with tarfile.open('mytext.tar') as mytar:
    mytar.extractall()
    
with tarfile.open('mytext.tar') as mytar:
    mytar.extract('a.txt')

In [ ]:
import tarfile

with tarfile.open('mytext.tar.gz', 'w:gz') as mytar:
    mytar.add('a.txt')
    mytar.add('b.txt')
    mytar.add('c.txt')

with tarfile.open('mytext.tar.gz') as mytar:
    mytar.extractall()