<a href="https://colab.research.google.com/github/choi-day/Python-Library-Cookbook/blob/main/pylib_002.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

009

In [ ]:
from collections import namedtuple

In [ ]:
data = [
    ('홍길동', 23, '01099990001'),
    ('김철수', 31, '01099990002'),
    ('이영희', 29, '01099992003'),
]

In [ ]:
Employee = namedtuple('Employee', 'name, age, cellphone')

In [ ]:
data = [Employee(emp[0], emp[1], emp[2])for emp in data]

In [ ]:
data

[Employee(name='홍길동', age=23, cellphone='01099990001'),
 Employee(name='김철수', age=31, cellphone='01099990002'),
 Employee(name='이영희', age=29, cellphone='01099992003')]

In [ ]:
data2 = [Employee._make(emp)for emp in data]
data2

[Employee(name='홍길동', age=23, cellphone='01099990001'),
 Employee(name='김철수', age=31, cellphone='01099990002'),
 Employee(name='이영희', age=29, cellphone='01099992003')]

In [ ]:
emp = data[0]
print(emp.name)
print(emp.age)
print(emp.cellphone)

홍길동
23
01099990001

In [ ]:
emp.cellphone

'01099990001'

In [ ]:
emp[0]

'홍길동'

In [ ]:
emp._asdict()

{'name': '홍길동', 'age': 23, 'cellphone': '01099990001'}

In [ ]:
data[0]= emp._replace(name = '최다연')
data

[Employee(name='최다연', age=23, cellphone='01099990001'),
 Employee(name='김철수', age=31, cellphone='01099990002'),
 Employee(name='이영희', age=29, cellphone='01099992003')]

010

In [ ]:
from collections import Counter
import re

data = """
산에는 꽃 피네\
꽃이 피네\
갈 봄 여름 없이\
꽃이 피네\

산에
산에
피는 꽃은
저만치 혼자서 피어 있네

산에서 우는 작은 새여
꽃이 좋아
산에서
사노라네

산에는 꽃 지네
꽃이 지네
갈 봄 여름 없이
꽃이 지네
"""
print(data)
words = re.findall(r'\w+', data) # w = [a-z,A-Z,0-9], + = 한 번 이상 반복된다
counter = Counter(words)
print(counter.most_common(1))

산에는 꽃 피네꽃이 피네갈 봄 여름 없이꽃이 피네
산에
산에
피는 꽃은
저만치 혼자서 피어 있네

산에서 우는 작은 새여
꽃이 좋아
산에서
사노라네

산에는 꽃 지네
꽃이 지네
갈 봄 여름 없이
꽃이 지네

[('꽃이', 3)]

In [ ]:
words = re.findall(r'\w+', data)

In [ ]:
counter = Counter(words)

In [ ]:
print(counter.most_common(1))
print(counter.most_common(2))

[('꽃이', 5)]
[('꽃이', 5), ('피네', 3)]

011

In [ ]:
text = "Life is too short, Ypu need python."

letters = re.findall('[a-zA-z,.]',text)
print(letters)

['L', 'i', 'f', 'e', 'i', 's', 't', 'o', 'o', 's', 'h', 'o', 'r', 't', ',', 'Y', 'p', 'u', 'n', 'e', 'e', 'd', 'p', 'y', 't', 'h', 'o', 'n', '.']

In [ ]:
counter = Counter(letters)

In [ ]:
d = dict()
for key in text:
    if key not in d:
        d[key] = 0
    d[key] +=1

print(d)

{'L': 1, 'i': 2, 'f': 1, 'e': 3, ' ': 6, 's': 2, 't': 3, 'o': 4, 'h': 2, 'r': 1, ',': 1, 'Y': 1, 'p': 2, 'u': 1, 'n': 2, 'd': 1, 'y': 1, '.': 1}

In [ ]:
from collections import defaultdict

text = "Life is too short, Ypu need python."

d = defaultdict(int)
for key in text:
    d[key] +=1

print(dict(d))

{'L': 1, 'i': 2, 'f': 1, 'e': 3, ' ': 6, 's': 2, 't': 3, 'o': 4, 'h': 2, 'r': 1, ',': 1, 'Y': 1, 'p': 2, 'u': 1, 'n': 2, 'd': 1, 'y': 1, '.': 1}

In [ ]:
import heapq
data = [
    (12.23,"강보람"),
    (12.31,"김지원"),
    (11.98,"박시우"),
    (11.99,"장준혁"),
    (11.67,"강보람"),
    (12.02,"차정웅"),
    (11.57,"차동현"),
    (12.04,"고미숙"),
    (11.92,"한시우"),
    (12.22,"이민석"),
]
h = []
for score in data:
    heapq.heappush(h, score)

for i in range(3):
    print(heapq.heappop(h))

(11.57, '차동현')
(11.67, '강보람')
(11.92, '한시우')

In [ ]:
import heapq
data = [
    (12.23,"강보람"),
    (12.31,"김지원"),
    (11.98,"박시우"),
    (11.99,"장준혁"),
    (11.67,"강보람"),
    (12.02,"차정웅"),
    (11.57,"차동현"),
    (12.04,"고미숙"),
    (11.92,"한시우"),
    (12.22,"이민석"),
]

heapq.heapify(data)

for i in range(3):
    print(heapq.heappop(data))
print(heapq.nsmallest(5, data))

(11.57, '차동현')
(11.67, '강보람')
(11.92, '한시우')
[(11.98, '박시우'), (11.99, '장준혁'), (12.02, '차정웅'), (12.04, '고미숙'), (12.22, '이민석')]

013

In [ ]:
import pprint
result = {'userId': 1, 'id': 1, 'title': 'sunt aut tacere repellat provident occaecati excepturi optio reprehenderit', 'body': 'quia et suscipit\nsuscipit recusandae consequuntur expedita et cum\nreprehenderit molestiae ut ut quas totam\nnostrum rerum est autem sunt rem eveniet architecto'}
pprint.pprint(result)

{'body': 'quia et suscipit\n'
         'suscipit recusandae consequuntur expedita et cum\n'
         'reprehenderit molestiae ut ut quas totam\n'
         'nostrum rerum est autem sunt rem eveniet architecto',
 'id': 1,
 'title': 'sunt aut tacere repellat provident occaecati excepturi optio '
          'reprehenderit',
 'userId': 1}

014

In [ ]:
scores = [33, 99, 77, 70, 89, 90, 100]

result = []

for score in scores:
    if score >= 90:
        result.append('A')
    elif score >= 80:
        result.append('B')
    elif score >= 70:
        result.append('c')
    elif score >= 60:
        result.append('D')
    else: 
        result.append('F')

In [ ]:
import bisect
result = []

for score in [33, 99, 77, 70, 89, 90, 100]:
    pos = bisect.bisect([60, 70, 80, 90], score)
    grade = 'FDCBA'[pos]
    result.append(grade)

print(result)

['F', 'A', 'C', 'C', 'B', 'A', 'A']

In [ ]:
import bisect
result = []

for score in [33, 99, 77, 70, 89, 90, 100]:
    pos = bisect.bisect_left([60, 70, 80, 90], score)
    grade = 'FDCBA'[pos]
    result.append(grade)

print(result)

['F', 'A', 'C', 'D', 'B', 'B', 'A']

In [ ]:
a = [60, 70, 80, 90]
bisect.insort(a, 85)
a

[60, 70, 80, 85, 90]

015

In [ ]:
from datetime import date
from enum import IntEnum

class Week(IntEnum):
    MONDAY = 1
    TUESDAY = 2
    WEDNESDAY = 3
    THURSDAY = 4
    FRIDAY = 5
    SATURDAY = 6
    SUNDAY = 7

def get_menu(input_date):
    weekday = input_date.isoweekday()
    if weekday ==1:
        menu = "김치찌개"
    elif weekday ==2:
        menu = "비빔밥"
    elif weekday ==3:
        menu = "된장찌개"
    elif weekday ==4:
        menu = "불고기"
    elif weekday ==5:
        menu = "갈비탕"
    elif weekday ==6:
        menu = "라면"
    elif weekday ==7:
        menu = "건빵"
    return menu

print(get_menu(date(2021, 12, 6)))
print(get_menu(date(2021, 12,18)))

김치찌개
라면

In [ ]:
from datetime import date
from enum import IntEnum

class Week(IntEnum):
    MONDAY = 1
    TUESDAY = 2
    WEDNESDAY = 3
    THURSDAY = 4
    FRIDAY = 5
    SATURDAY = 6
    SUNDAY = 7

def get_menu(input_date):
    menu = {
        Week.MONDAY : "김치찌개",
        Week.TUESDAY : "비빔밥",
        Week.WEDNESDAY : "된장찌개",
        Week.THURSDAY : "불고기",
        Week.FRIDAY : "갈비탕",
        Week.SATURDAY : "라면",
        Week.SUNDAY : "건빵",
    }
    return menu[input_date.isoweekday()]
print(get_menu(date.today()))

비빔밥

In [ ]:
for week in Week:
    print("{}:{}".format(week.name, week.value))

MONDAY:1
TUESDAY:2
WEDNESDAY:3
THURSDAY:4
FRIDAY:5
SATURDAY:6
SUNDAY:7

016

In [ ]:
from graphlib import TopologicalSorter

ts = TopologicalSorter()

ts.add('영어 중급','영어 초급')
ts.add('영어 고급', '영어 중급')

ts.add('영어 문법', '영어 중급')
ts.add('영어 고급', '영어 문법')

ts.add('영어 회화', '영어 문법')

print(list(ts.static_order()))

['영어 초급', '영어 중급', '영어 문법', '영어 고급', '영어 회화']

In [ ]:
from graphlib import TopologicalSorter

ts = TopologicalSorter()

ts.add('영어 중급','영어 초급')

ts.add('영어 문법', '영어 중급')
ts.add('영어 고급', '영어 중급', '영어 문법')

ts.add('영어 회화', '영어 문법')

print(list(ts.static_order()))

['영어 초급', '영어 중급', '영어 문법', '영어 고급', '영어 회화']